<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class = "page-container">
    <div class = "upperContainer">
        <p>Click the button to allow location data.</p>

        <button onclick="getLocation()">Grant Access</button>
    </div>
    <div class="container">    
        <p id="demo"></p>

        <div class="weather-info" id="weather-info">
        </div>

        <script>
            const x = document.getElementById("demo");
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }
            function showPosition(position) {
                const userLatitude = position.coords.latitude;
                const userLongitude = position.coords.longitude;

                //x.innerHTML = "Latitude: " + userLatitude + "<br>Longitude: " + userLongitude;
                
                fetch("/weather", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        latitude: userLatitude,
                        longitude: userLongitude
                    })
                })
                .then(response => response.json())
                .then(data => {
                    // Update the weather-info div with the new data
                    const weatherInfo = document.getElementById('weather-info');
                    weatherInfo.innerHTML = `
                        <h1>${data.greeting}</h1>
                        <p> ${data.time} </p>
                        <h2>Weather in ${data.city}</h2>
                        <p>Temperature: ${data.temperature}</p>
                        <p>Chance of rain (Within hour): ${data.condition} %</p>
                    `;
                })
            }
        </script> 
    </div>
</div>
</body>
</html>
